[2021-11-24 08:08] neothematrix opened #10 "replace sleeps with proper wait events"
there are a few sleeps placed in the code that allows for screenshot to be properly taken on debug level 2, this also allows some slower connection to properly run the script.
As a workaround #9 enables debug by default, but the correct solution would be to add some wait events to make sure the page is fully loaded.

[2021-11-24 10:07] Angel0ffDeath commented on #10
I would suggest you to use explicit wait method of selenium. With this method you wait certain amount of time (let's say 5 or 10 sec) or until some given element appears. For login page the element could be login button and for confirm host page this could be the element with the expiration days. To do that you need to add the following code:

from selenium.webdriver.support.ui import WebDriverWai

[2021-11-24 10:11] neothematrix commented on #10
thanks @Angel0ffDeath this is what I thought, we just need to find the right element for every sleep to be replaced :-)

[2021-11-24 10:23] Angel0ffDeath commented on #10
Selenium has 2 more wait methods - Implicit Wait (you wait certain amount of time) and Fluent Wait. Fluent Wait is more advanced from explicit wait and is mainly for dynamically loaded elements, so I think explicit wait is the most appropriate. Of course you can check selenium documentation for more info :)

[2021-11-24 10:32] neothematrix opened #11 "autobuild and publish docker image"
setup a pipeline that uses the Dockerfile to automatically build and publish a docker image to the docker hub

[2021-11-24 10:35] Angel0ffDeath commented on #10
BTW - I also would like to suggest you all regex used to find buttons and elements to be defined as constants in the beginning of the code. This way will be very easy to find them and change them after future updates of the site....

[2021-11-24 10:51] Angel0ffDeath opened #12 "Feedback from the script"
The most important thing, which script doesn't do, is feedback.

Example Renew date is coming. The script executes at the right time to renew the host, but due to some reasons (change of web site, temporary no internet access during execution of the script) the host(s) was not confirmed.

In the example above, everybody would like to know the script has failed in order to reschedule for a little b

[2021-11-24 11:45] neothematrix commented on #12
this is a good idea, I'm not sure but you can probably already do this by checking the exit status of the script, I think if python raises an exception (that would normally happen if the website changes or the script times out) the exit code will be !=0

[2021-11-24 11:56] Angel0ffDeath commented on #11
Sorry, but Im not familliar with Docker and I dont use it, but I found that:

https://docs.docker.com/docker-hub/builds/

If it helps...

[2021-11-24 12:27] peteakalad commented on #12
Can also use standard cron functionality which emails the crontab output which provides feedback if there are any problems (I use msmtp to forward mails via gmail).  Need to setup the crontab so it doesnt redirect the output to a file for it to work.  Also depends on the script properly logging out exceptions properly regarless of the log level.  Less effort than adding exit codes and adding some

[2021-11-24 12:44] Angel0ffDeath commented on #12
@peteakalad Neothematrix uses Docker and not cronjob. I also use different way to start the script and cronjob by me doesn't work (see my answer to your comment in discussion do we need sudo)
@neothematrix The exit code from the script is always 0. All try...except... just rise an exception, but do not terminate execution of the script, which is not correct. It is stupid to try to open host renew

[2021-11-24 12:57] Angel0ffDeath commented on #12
@neothematrix Currently Im working on the exceptions and will propose these days a list. If we agree on the list will make corresponding changes in the code. Will not have time to test my suggestion on sleeping times replacement - from there 2 new exceptions could arise, but will include this in the list. This way we will know what exactly happens without need to watch all pictures etc... Even sav

[2021-11-24 14:06] Angel0ffDeath commented on #12
Ok. According to this code;
    def run(self):
        rc = 0
        self.logger.log(f"Debug level: {self.debug}")
        try:
            self.login()
            if not self.update_hosts():
                rc = 3
        except Exception as e:
            self.logger.log(str(e))
            self.browser.save_screenshot("exception.png")
            subprocess.call(['/usr/local/bin/noip-renew-sk

[2021-11-24 15:07] neothematrix commented on #10
I don't think it will be very useful anyways, all the time I had to fix the parsing I had to change the xpath, not the regular expressions, the structure of the page is usually what changes, meaning that the label you were looking for is now an attribute for example, or inside another nested table.

[2021-11-24 15:43] neothematrix commented on #12
I think it's common definition to treat as error anything different than 0 as exit code, whether it's negative or positive, so the current code seems correct to me. It's probably a bad idea using a positive exit code when the script runs properly, it might be treated as an error by some tools.

[2021-11-24 16:13] Angel0ffDeath commented on #12
Ok. Up to you. Will do it for myself as suits me :)

[2021-11-24 16:18] Angel0ffDeath commented on #10
Will try to help with this... only not sure when will have enough time to do it

[2021-11-24 16:56] Angel0ffDeath commented on #11
It seems you are missing username and pass for the build.... Not sure. As I said Im not familiar with Docker

[2021-11-24 17:07] Angel0ffDeath commented on #11
![image](https://user-images.githubusercontent.com/61434069/143283594-a2db5b97-47e0-4e64-961b-40301614613c.png)

[2021-11-24 17:07] Angel0ffDeath commented on #11
![image](https://user-images.githubusercontent.com/61434069/143283689-b9999e67-714e-4aaa-a7aa-8f27c697b044.png)

[2021-11-24 17:08] Angel0ffDeath commented on #11
As i said  - don't know....

[2021-11-24 17:11] neothematrix commented on #11
yep I saw it, I'm also new on this integration between github and docker build, I'm testing it :)

[2021-11-24 17:14] Angel0ffDeath commented on #11
NP. It always has first time. Nevertheless - good job. Will support you as much as I can :)

[2021-11-24 17:19] Angel0ffDeath commented on #11
@peteakalad @benyjr Can you help with this issue???

[2021-11-24 17:21] neothematrix commented on #11
no worries @Angel0ffDeath I think I figured out what was wrong, now the build is successful, I just need to test if it works!

[2021-11-24 17:22] Angel0ffDeath commented on #11
Im happy for you :)

[2021-11-24 17:26] Angel0ffDeath commented on #11
Yep. I checked - everything is ok, i.e. built. Probably you can close this issue also :)

[2021-11-24 17:36] #11 closed

[2021-11-24 17:44] Angel0ffDeath commented on #11
Perfect job @neothematrix

[2021-11-24 18:21] Angel0ffDeath opened #13 "Neo The Best"
Hi all,

This time it is not a new issue, but I would like to say to @neothematrix and to all of you - good job. In the last few days the team presented here have done a lot of work (don't want to compare with other branches/forks).
Let's go further together. Personally I hope, all people here will continue to support @neothematrix

[2021-11-24 20:40] neothematrix commented on #13
hahaha thanks @Angel0ffDeath I really appreciate it, but honestly I'm doing very little compared to what was done by the original maintainer and also you're all doing a great job!
I stopped a few minutes earlier to think about how crazy we all are, we're literally spending hours working on this small little project just to avoid a few clicks every month :-D I guess this summarize very well the con

[2021-11-25 07:59] #12 closed

[2021-11-25 12:02] Angel0ffDeath commented on #13
Yep. This is the concept of automation, and we are spending a lot of time to "work on this little project" because everybody wants the perfect result and to forget, i.e. to be sure once script is running on the right time everything is ok and it is not necessary to check it manually each month...

[2021-11-25 13:54] Angel0ffDeath commented on #10
Partially solved in my new PR

[2021-11-25 16:06] Angel0ffDeath opened #15 "Finding Hosts"
@neothematrix Please add tag help/assistance required

Im saving the page my.noip.com/dynamic-dns as *.mhtml

After that I open saved file with Notepad++
There is only one place where you can find your hostname:

class=3D"link-info cursor-pointer" (or withoth 3D)

can you please check the same is for you. Will appreciate if users with more hosts share the results.

If the above is same by you - wi

[2021-11-26 12:56] #15 closed

[2021-11-26 16:39] Angel0ffDeath opened #16 "Versioning"
I do believe, finally, it is good idea to add version number and repo in python script and this info to be printed on screen and in log (regardless which debuglevel is used). This will prevent further misunderstandings and/or requests

[2021-11-29 03:21] benyjr commented on #10
I am on vacation on the 29th, and as a result will do some testing on this submission to verify that it works.

[2021-12-01 12:52] neothematrix commented on #10
closed by #14

[2021-12-01 12:52] #10 closed

[2021-12-01 12:52] #13 closed

[2021-12-01 18:12] Angel0ffDeath commented on #16
@neothematrix It seems no interest from anybody on this issue... Should I close it

[2021-12-01 18:16] neothematrix commented on #16
nop, I'm working on it, it makes sense also to be able to properly version docker images, if you noticed I've already started tagging some commits

[2021-12-01 18:34] neothematrix opened #17 "random timeout"
after updating to the latest chromedriver it looks like sometimes the script is timing out for no reason with this message:

`selenium.common.exceptions.SessionNotCreatedException: Message: session not created
from timeout: Timed out receiving message from renderer: 600.000`

[2021-12-01 18:40] neothematrix commented on #17
disabling gpu seems to fix the issue

[2021-12-01 18:43] #17 closed

[2021-12-01 18:46] peteakalad commented on #17
Still seems ok here, but not sure my chromedriver has updated, not seeing any updates with my repos.
[code]

You disabled gpu via this addition then?

` options.add_argument("--disable-gpu")`

[2021-12-01 18:49] neothematrix commented on #17
yes that's what I did and it seems to be running every time with no issues

`chromedriver --version
ChromeDriver 90.0.4430.212`

I'm using a slightly older version but running inside docker, that could probably make some difference

[2021-12-01 18:56] Angel0ffDeath commented on #16
@neothematrix Ok. Appreciate that. And I have some ideas how to make the soft to go in next generation... i.e. if site changes - auto find what we need :).

[2021-12-01 20:36] neothematrix commented on #16
yep, now versioning works properly, I just need to find the best way to insert it also in the python code (and keep it up to date)

[2021-12-08 11:51] Angel0ffDeath commented on #16
@neothematrix
Probably this will do the trick:

import requests
response = requests.get("https://github.com/neothematrix/noip-renew/releases")
version = response.json()["name"]

If global variable VERSION = "" then run the above code and with subprocess.call use sed to alter locally the script, i.e. to change VERSION = "version" and print version in logger. If VERSION is not "" we don't run the ab

[2021-12-24 07:09] Angel0ffDeath opened #18 "Auto reschedule script after update"
If you run the script as cronjob - the script runs at specified time on calculated date which is correct, confirms the host(s), but doesn't create correct new cronjob for the next run.

Edit: Looking into the code:
        nr = min(next_renewal) - 6
        today = date.today() + timedelta(days=nr)
We always run the script 6 days before expiration date.
And if you run the script 6 days before expi

[2021-12-24 08:04] Angel0ffDeath commented on #18
Other possible fix is after we have confirmed at least 1 host to reread all expiration dates again...

[2021-12-24 08:56] Angel0ffDeath commented on #18
Remark: The above bug cannot happen if you have 2 or 3 hosts with different expiration dates. But it will always happen if you have only 1 host.

[2022-01-02 00:40] benyjr commented on #18
Unfortunately, my host updated on Dec 27th, so I will have to wait about 30 days as well, so I look forward to hearing how it goes for you.

[2022-01-03 18:04] CrAzY-Tool commented on #18
@Angel0ffDeath

Can you please post this Code in a Valid Code tag?
I try to test but it's not working and give a lot of errors.

[2022-01-04 12:11] Angel0ffDeath commented on #18
`expiration_days = self.get_host_expiration_days(host, iteration)
   if expiration_days <= 7:
       self.update_host(host_button, host_name)
       expiration_days = self.get_host_expiration_days(host, iteration)
       next_renewal.append(expiration_days)
       self.logger.log(f"{host_name} expires in {str(expiration_days)} days")
       count += 1
  else:
      next_renewal.append(expiration_d

[2022-01-06 10:38] Angel0ffDeath commented on #18
@CrAzY-Tool Yeah... Unfortunately we should wait, but we will solve it. If something is wrong after that I will be able to test and benyjr also, so in all cases we will solve it.

[2022-01-07 17:33] CrAzY-Tool commented on #18
Good News...Code is working perfect.
Crondate is set to correct date now.

[2022-01-08 07:51] Angel0ffDeath commented on #18
@CrAzY-Tool ok. Thanks. Will make pull request later today

[2022-01-09 14:54] #18 closed

[2022-01-16 08:10] Angel0ffDeath commented on #16
@neothematrix I have one more idea, but didn't tried it - you can use pre-commit and probably pre-merge-commit hooks to alter the script (i.e. to change the version) and maybe post-commit and post-merge-commit hooks to alter release tags

[2022-01-24 10:08] Angel0ffDeath opened #22 "Login page changed"
@neothematrix It seems login page changed again

[2022-01-24 18:23] Angel0ffDeath commented on #22
@neothematrix Should I close this issue or you would like people to see it and be informed that it is fixex?

[2022-01-26 13:51] Angel0ffDeath opened #24 "Cleanup and Login Button"
@neothematrix I saw you made a cleanup and added search for login button, so:
1. You removed sending Enter key. In this case you don't need this row as well - from selenium.webdriver.common.keys import Keys
2. Login button is inside section "content" which we already extracted so it will be more elegant if you use the following to find login button - elem.find_element(By.ID, "clogs-captcha-button"

[2022-01-26 17:47] neothematrix commented on #24
thanks @Angel0ffDeath ,good point on the not needed import and different find_element, I'll test them!
The reason I'm reverting is because I kept having random failures with the "keys Enter" approach, often times after that step, I'd get a "409 page expired" error, while with this method it seems I don't have that issue.
I haven't been able to properly understand the reason though, but reverting t

[2022-01-26 17:48] neothematrix commented on #22
this is now fixed thanks for the PR!

[2022-01-26 17:48] #22 closed

[2022-01-27 08:27] Angel0ffDeath commented on #24
@neothematrix The point when I made the implementation with sending Enter key was 1 element less to find. By me this Error 409 never happen. This is a public repository, which means the code should work properly on as much as possible more machines, so I don't mind you reverted back to find login button. I'm just saying there are much simple and faster ways to do that. Yeah I know the speed is not

[2022-01-30 08:11] neothematrix commented on #24
I keep getting this random 419 page expired error after the login page, even after reverting to the previous login click button, I can't understand why :|

[2022-01-30 23:50] Angel0ffDeath commented on #24
Unfortunately I can t reproduce this error by me, so I cannot give good advise. Usually 'Page expired' means session is expired, i.e. to long idle time. Check this row:
browser.set_page_load_timeout(90) # Extended timeout for Raspberry Pi.

You can try to increase it.
I cannot help you without some more feedback from the log file and images... Obviously it is login page (since you reverted to buto

[2022-01-31 00:21] Angel0ffDeath commented on #24
This is the script which runs after you press login button (or send Enter, it is the same)

<script type="text/javascript" >
    document.getElementById('clogs-captcha-button').onclick = function(event) {
        event.preventDefault();
        if (window.grecaptcha) { // check if captcha disabled or user is blocking google
            grecaptcha.ready( function() {
                grecaptcha.exec

[2022-02-19 22:12] alfakenzo opened #25 "Cant connect to noip.com"
hi guys i found this nice script  and searched for the newest version that work. Now im here and thought 12 days last update it would work. But i get no connection to noip.com.
pi@raspberrypi:/usr/local/bin $ ./noip-renew-pi.sh
[2022/02/19 23:04:11] - Debug level: 2
[2022/02/19 23:04:11] - Opening https://www.noip.com/login...
[2022/02/19 23:04:15] - Logging in...
[2022/02/19 23:04:25] - my.noip.c

[2022-02-19 23:28] neothematrix commented on #25
Hello!
What's the content of the exception.png and debug1.png that should have been generated with the debug level 2?
The script is working fine here.

[2022-02-20 00:08] alfakenzo commented on #25
I don't see the debug.log. I see a lot of connections

[2022-02-20 06:56] neothematrix commented on #25
Hi, it's not a log file you should have two png images, they are screenshots of the various pages visited by the script and should show you the actual error, you should still have them, they are creates in the same directory as the python script.
Also, make sure you're using the latest version of the script, I updated it last week for a similar login issue.

[2022-02-20 07:27] alfakenzo commented on #25
I see only one exception.png. That should be login.
But still not connected

[2022-02-20 07:32] neothematrix commented on #25
ok, so exception.png is showing the login page with no credential inserted?
I need some more information in order to try and understand your issue, if you manually run the script do you still get the error? are you sure your credentials are correct? Are you using the latest version of the script that I uploaded 13 days ago?

[2022-02-20 07:44] alfakenzo commented on #25
I download now your newest version manual. Not with gut clone. And also the same no login possible.
Login is with email?

[2022-02-20 07:56] neothematrix commented on #25
Login can be both your email or your noip username, it's the same.
Still no debug1.png has been generated? And no messages on the exception.png screenshot?

[2022-02-20 07:56] alfakenzo commented on #25
Yes to both nothing to see

[2022-02-20 11:20] neothematrix commented on #25
It's strange that you don't get any png, how are you executing the script?
Make sure you are running the script in a directory that is writable by the user you're running the script with, the png files will be written in the directory where you are when you run the script.
Please paste the full output, including the line showing how you're running the script, feel free to remove any sensitive info

[2022-02-20 12:29] CrAzY-Tool commented on #25
It's simple

`` ele_pwd.click()`` <--- This Change ist not working

[2022-02-20 12:41] alfakenzo commented on #25
How should it be?

[2022-02-20 13:24] neothematrix commented on #25
what do you mean it's not working? What error do you get? it wasn't working for me the "send_keys" method so I modified it.

[2022-02-20 13:27] neothematrix commented on #25
no need for a pull request yet as the current version is working fine, but maybe there are other incompatibilities.
@alfakenzo please try using version 1.5.3: [here](https://github.com/neothematrix/noip-renew/releases/tag/v1.5.3) and see if it works for you.

[2022-02-20 13:30] alfakenzo commented on #25
Ok I will try the 1.5.3

[2022-02-20 14:27] CrAzY-Tool commented on #25
No this change is not working.
It's working fine with...

```ele_pwd.send_keys(Keys.ENTER)`

[2022-02-20 14:30] neothematrix commented on #25
@CrAzY-Tool it's working fine for me, send_keys wasn't working, it was almost always giving me a 419 page expired error (see #24).
Release 1.5.3 that I suggested to @alfakenzo is using the `send_keys(Keys.ENTER)`
Can you share what's the error you get with the new change with `click()`? I'd like to understand.
thanks!

[2022-02-20 14:32] CrAzY-Tool commented on #25
Error > my.noip.com page could not load

[2022-02-20 14:35] neothematrix commented on #25
right, but what's the actual error shown in the debug1.png or exception.png screenshots?

[2022-02-20 14:38] CrAzY-Tool commented on #25
Nothing.

[2022-02-20 14:41] neothematrix commented on #25
nothing meaning?
Can you share your specs? Like what chromedriver version are you using? where are you running the script? are you using the docker image or just the script?

[2022-02-20 14:47] CrAzY-Tool commented on #25
There are no only one Pic "exception.png"
It shows simply a the username & password but no Login to the website.

Only Script Version.

ChromeDriver 92.0.4515.98

[2022-02-20 14:50] neothematrix commented on #25
alright thanks, I'll try to reproduce the issue!

[2022-02-20 15:13] alfakenzo commented on #25
For me no works version 1.5.3. and got the same error like crazy-tool said. Maybe depends on Chrome version. Greets

[2022-02-20 21:55] neothematrix commented on #25
another question, what linux distro are you running the script on? debian?

[2022-02-20 22:31] alfakenzo commented on #25
i run Raspbian on a rpi4

[2022-02-20 23:01] #25 closed

[2022-02-20 23:08] neothematrix commented on #25
ok sorry guys, I'm a very bad person, I finally understood what my issue really was that was causing #24 and also why the script was working just for me with the "click()" function that it's indeed not working: I manually base64 encoded my password instead of using the setup script, and my encoded password contained a "\n" at the end that was basically already sending an "enter" to the form, for t

[2022-02-20 23:09] neothematrix commented on #24
it turns out, I was double sending the login form because my encoded base64 password wrongly contained a "\n" :-(

[2022-03-26 11:30] neothematrix opened #27 "broken redirect after login"
just to report that the script is currently broken due to some changes to noip.com website, I'm working on a fix.
basically, a redirect has been added between the login page and the dynamic hosts page that requires some more code to be added to the script.
I'll try to fix it asap.

[2022-03-27 09:00] Angel0ffDeath commented on #27
@neothematrix Do not load login page. Load directly my.noip.com/dynamic-dns. This first will load login page and after that correct page with hosts and will skip redirection. I will have time in the afternoon and will fix it if you didnt

[2022-03-27 20:14] Angel0ffDeath commented on #27
@neothematrix Sorry, didnt have time today to fix it. Just tried your script but, it seems it doesnt work. Will try to find some time tomorrow to fix it.

[2022-03-27 21:23] peterchs commented on #27
I've made few changes got it working for me:
https://github.com/neothematrix/noip-renew/blob/732387fe6d42b03ca8be4c26d43190fbcc37f3e7/noip-renew.py#L46
TO:
`HOST_URL = "https://www.noip.com/redirect/mynoip?force=true&intended=dynamic-dns"`

After clicking log in I'm checking for 'Sign Out' here - hopefully more resilient way of knowing its logged in correctly rather than just looking for the top b

[2022-03-27 21:49] #27 closed

[2022-03-27 21:53] neothematrix commented on #27
thanks @peterchs the HOST_URL change is more elegant than what I was doing, that is, call the /redirect link before opening the dynamic-dns.
Regarding the login check, I'd rather not use XPATH if not necessary, the purpose of checking for the "free-callout" is just to make sure the full page is loaded since the element is close to the end of the html. If login didn't work, the page is completely d

[2022-03-27 21:57] peterchs commented on #27
Yea I just see more risk of them changing layout / banner style than removing the ‘Sign Out’ but up to you both work for now..

[2022-05-04 06:05] minscof opened #28 "Docker version for raspberry"
Thank you for your project.

I would like to use it in a docker environment on a raspberry pi with buster debian.

Could you add this on docker hub ?

[2022-05-06 13:33] neothematrix commented on #28
ciao @minscof
I'm trying to add a build for raspi, I guess what you really need is a build for "arm" architecture of the image, that is missing.
Can you confirm the architecture of the raspberry pi? is it arm/v7?

[2022-05-06 14:37] minscof commented on #28
Yes my raspberry architecture is arm/v7, thank you for your help

[2022-05-06 15:13] neothematrix commented on #28
I think I managed to produce an arm/v7 version, can you try the dev image before I push it to master?
this is the dev image that should be available also for arm/v7: moebiuss/noip-renew:dev
let me know!

[2022-05-06 20:25] #16 closed

[2022-05-13 16:23] neothematrix commented on #28
@minscof did you have time to check? I don't have an arm/v7 so I can't test if everything works properly.
thanks!

[2022-05-24 11:47] rubenvg95 opened #29 "Error "my.noip.com page could not load""
Hello!

When I run the noip-renew.sh, y always get this error after trying the login "my.noip.com page could not load"

Any solution?

Thanks

[2022-05-24 12:11] neothematrix commented on #29
make sure you're using the latest version of this repo.
also, if you run the script in debug mode you might be able to see the issue checking the debug*.png that are created.

[2022-05-24 12:11] #28 closed

[2022-05-24 12:19] rubenvg95 commented on #29
It's running on a raspberry pi.

Result:

`pi@raspberrypi4:~/noip-renew/noip-renew $ ./noip-renew.sh
[2022/05/24 13:13:02] - Debug level: 2
[2022/05/24 13:13:02] - Opening https://www.noip.com/login...
[2022/05/24 13:13:07] - Logging in...
[2022/05/24 13:13:27] - my.noip.com page could not load`

Credentials are OK
Git clone from today, so it's the last version

debug1.png shows the login page onl

[2022-05-24 12:20] rubenvg95 commented on #29
No closed, my mistake...reopen please

[2022-05-24 12:24] neothematrix commented on #29
do you have an "exception.png"? anything useful?

[2022-05-24 12:34] rubenvg95 commented on #29
Fixed

I edit the noip-renew.py

# ele_usr.send_keys(self.username)
ele_usr.send_keys("EMAIL)
# ele_pwd.send_keys(base64.b64decode(self.password).decode('utf-8'))
ele_pwd.send_keys("PASSWORD")

Password is numbers only, probably a bug?

[2022-05-24 12:36] neothematrix commented on #29
it's not a bug, the python script expects a base64 encoded password, setup.sh takes care of that and creates a .sh script that calls the python with the base64 encoded password.
So if you're running the python script directly, make sure you pass the password encoded in base64.

[2022-05-24 12:40] rubenvg95 commented on #29
No, I was running the ".sh" file directly, not the python file.

Anyway, thanks a lot for your fast reply and assitance!!

[2022-05-24 12:40] #29 closed

[2022-07-13 14:41] ntzb opened #30 "unclear instructions"
hi, I'm a little bit unclear on how to use this on Debian.
it seems the script doesn't finish successfully?
two packages cannot be installed:
E: Package 'chromium-browser' has no installation candidate
E: Unable to locate package chromium-chromedriver
not sure how to move on from here?

[2022-07-16 07:08] Angel0ffDeath commented on #30
Which exactly Debian we are speaking about?

[2022-07-18 06:32] ntzb commented on #30
Debian GNU/Linux 11 (bullseye)

[2022-07-21 18:34] rubenvg95 opened #31 "my.noip.com page could not load"
Hello @neothematrix

I tried to update my noip ddns, and i got this error today. Probably something have changed from NOIP website.

Working OK on same setup few weeks ago.

[2022-07-21 18:37] rubenvg95 commented on #31
My fault, password changed...

[2022-07-21 18:39] #31 closed

[2022-07-23 05:59] Angel0ffDeath commented on #30
Ok. I dont have bullseye to test it, but it looks like google repository is missing.
You can try this:
https://www.itsfoss.net/how-to-install-google-chrome-on-debian-11-bullseye/amp/
Perform steps 1 to 4 to add repository and then run setup.sh again.
If there are some problems post output here for further assistance.

[2022-07-23 06:34] ntzb commented on #30
still can't continue with setup.sh. after adding that repo, here's the output:

[code]

[2022-07-23 09:47] Angel0ffDeath commented on #30
@ntzb Ok. Perfect. It seems problem is solved :)

[2022-07-23 12:02] ntzb commented on #30
right, here we go:
https://github.com/neothematrix/noip-renew/pull/32

[2022-07-23 12:02] #30 closed

[2022-08-09 06:23] nitzan-blink commented on #30
@Angel0ffDeath I had two more issues, and I'm wondering if somehow I was the only one:
1. the script would not run because /var/log/noip-renew/ntzb was owned by root, and not writeable by the user
2. the scheduler (noip-renew-sk.sh) runs crontab as sudo, but fails since it needs a password as input: `ntzb : a password is required ; PWD=/var/log/noip-renew/ntzb ; USER=root ; COMMAND=/usr/bin/cronta

[2022-08-17 03:24] dabelle opened #33 "Page could not load"
Got the following message when running noiprenew-{USER}

[2022/08/16 23:22:10] - Debug level: 2
[2022/08/16 23:22:10] - Opening https://www.noip.com/login...
[2022/08/16 23:22:14] - Logging in...
[2022/08/16 23:22:25] - my.noip.com page could not load

[2022-08-17 08:07] neothematrix commented on #33
check your username and password, any details in the debug1.png, debug2.png or execption.png files?

[2022-08-18 05:40] Angel0ffDeath commented on #33
@neothematrix This message appears after successful login. Probably element noip-cart changed. Must check the page

[2022-08-25 20:25] PrivatePasta commented on #33
Facing the same issue

[2022-08-28 10:43] Angel0ffDeath commented on #33
@neothematrix Soleved. Pull request created

[2022-08-29 11:47] neothematrix commented on #33
mmm ok I'll try to test the changes also in my scenario. Currently the script is working fine for me, so before introducing a change I'd like to replicate the issue.
@Angel0ffDeath were you having issues too?

[2022-08-30 08:35] Angel0ffDeath commented on #33
@neothematrix I didn't tried it without changes, but after login browser loads automatically https://my.noip.com/ and not https://my.noip.com/dynamic-dns
So I just added loading opening the correct page and corresponding loggin

[2022-08-30 13:28] neothematrix commented on #33
ok, it's weird because the script is still working fine for me, even without changes.
@dabelle @PrivatePasta can you please give us your feedback? is the script as it is working for you? If not, can you try with the changes proposed by @Angel0ffDeath ?

[2022-09-03 12:53] PrivatePasta commented on #33
So this is weird, I tried both repo's and have issues on both. The @neothematrix repo exits with `my.noip.com page could not load`. Logfile is empty and the exception.png says the username/password combination is incorrect. The @Angel0ffDeath repo exits with the following:
[code]
Again logfile is empty but the exception.png doesn't say anything. Uploading them here anyway.
[neothematrix - debug1.p

[2022-09-03 13:27] drsurfer commented on #33
@neothematrix on my RPi all is working as usual, and in a fresh installation on a brand new system, too

[2022-09-04 07:28] neothematrix commented on #33
Thank you a for your feedbacks.
@PrivatePasta, just to understand, has the script been working for you before or is this the first time you're setting it up?
It's very likely your password might be incorrect. The most common issue is that the python script expects the password parameter to be base64 encoded, this is done automatically if you use the setup.sh script, if you're running the python di

[2022-09-16 13:50] neothematrix commented on #33
I'm closing this as not reproduce-able, feel free to open a new ticket

[2022-09-16 13:50] #33 closed

[2022-10-11 08:05] Angel0ffDeath commented on #30
Open an new issue for that. For the first – you need to delete /var/log/noip-renew/ntzb and to run setup.sh again. Then with the same user run the script which will do the rest. For the second – you are correct – the script uses sudo to create cronjob, all though if it is the same user you don’t need sudo to create this. The user which I use is added to sudoers and I don’t have this issue  Sent fr

[2022-11-13 12:45] Angel0ffDeath opened #35 "Running the script on Python 3.5"
@neothematrix It is not exactly an issue. I managed to run the script on python 3.5
The only problem in the script are f-strings which are available from python 3.6 further
So, all packages from setup.sh can be installed in python 3.5. I installed them manually
For the f-strings is necessary to additionally install:
pip3 install future-fstrings

in noip-renew.py after first row should be added:
`#

[2022-11-20 17:24] fana13 opened #36 "Manual intervention required. Upgrade text detected."
Hi,

I've got this message when i run manually noip-renew script :
root@shuttle-plex:/usr/bin# sh /usr/local/bin/noip-renew.sh
[2022/11/20 18:18:06] - Debug level: 2
[2022/11/20 18:18:06] - Opening https://www.noip.com/login...
[2022/11/20 18:18:13] - Logging in...
[2022/11/20 18:18:18] - Opening https://my.noip.com/dynamic-dns...
[2022/11/20 18:18:20] - Updating xxx.xxx.org
[2022/11/20 18:18:22]

[2022-11-21 04:56] Angel0ffDeath commented on #36
@fana13 try to run the script not as root - logon as regular user, run setup.sh, then run noip-renew-user.sh (replace user with your user name)

[2022-11-21 07:12] fana13 commented on #36
Thanks for your help.
Finally i do a fresh install and it works like a charm

[2022-11-21 07:12] #36 closed

[2022-11-21 21:55] KillaOfDawn opened #37 "Script does not seem to work now"
No-IP seem to have added a captcha after confirming DNS hostnames which needs to be clicked through to finally renew the domain names.

[2022-11-22 03:23] suhiymof commented on #37
yes, the script need to be update, anyone know how to fix it?

[2022-11-22 08:57] Angel0ffDeath commented on #37
@KillaOfDawn @suhiymof Unfortunately I cannot see this screen now. Will be able to see it after 11 days. If somebody can send screen shots and save the page as html just before clicking this new button and send the code, I can try to do something

[2022-11-22 11:41] KillaOfDawn commented on #37
Hi @Angel0ffDeath,

I've got some screenshots and HTML which I will attach here (the HTML files are in a zip: [NoIPRenew.zip](https://github.com/neothematrix/noip-renew/files/10067007/NoIPRenew.zip)). The work flow for renewing the hostname is now:

1.  Click the usual confirm button on hostnames page.
2.  A page opens confirming whether you want to upgrade to Enhanced Dynamic DNS (Page1.html and

[2022-11-22 11:51] neothematrix commented on #37
ciao @KillaOfDawn
thanks for the report and screenshot.
As @Angel0ffDeath I also can't check this as my domains won't require renewal for a few more days.

Just a comment, by your screenshots it seems you're trying to confirm your domain without logging in, probably you did this just for the sake of producing the screenshot, but  just to be clear, No-Ip has always requested captcha to confirm the

[2022-11-22 12:33] KillaOfDawn commented on #37
Hey @neothematrix,

Yes I should have clarified, the screenshots above are from the email however, because my domains no longer require renewing I could not access this from the authenticated page. However, the workflow yesterday seemed to be exactly the same as the above when confirming once authenticated on the actual page, I'm fairly certain of this but again, happy to wait until you can see fo

[2022-11-22 16:12] suhiymof commented on #37
@neothematrix if this would be helpful？ I have a hostname need to be confirm.
![image](https://user-images.githubusercontent.com/8465498/203364456-72efb773-0789-43ac-827b-60978aa5ee62.png)

[2022-11-22 16:47] suhiymof commented on #37
@neothematrix @Angel0ffDeath
![image](https://user-images.githubusercontent.com/8465498/203365776-e121f903-a8ee-4a8f-8a86-184c920cec63.png)
![image](https://user-images.githubusercontent.com/8465498/203370898-74ae7b53-fe6f-4b4a-ac35-21d382bd6670.png)
![image](https://user-images.githubusercontent.com/8465498/203371248-76843b6f-b2c0-4611-a710-2c9d67ec48a0.png)
[noip.zip](https://github.com/neothema

[2022-11-22 16:49] suhiymof commented on #37
@neothematrix @Angel0ffDeath I uploaded the png screen on the pre comment , the HTML files are in  [noip.zip](https://github.com/neothematrix/noip-renew/files/10069383/noip.zip)

[2022-11-23 09:27] Angel0ffDeath commented on #37
@KillaOfDawn Something not clear for me - According to you the script doesnt work, but your log shows everything is ok and host confirmed???

[2022-11-23 19:10] solaireofastora20 commented on #37
@Angel0ffDeath so this confused me too, its also why I wasnt alerted that the script didnt work and my domain actually expired in the end.

Yes it may be that i was running an older version as I downloaded it a few months ago however because I saw the captcha when going to renew manually I decided to create this issue.

Again yes the log is older as I hadnt realised the script hadnt worked and I r

[2022-11-23 19:30] KillaOfDawn commented on #37
Hi @Angel0ffDeath,

This is what also confused me. I have an alert generated and sent to me when the script does not run correctly however, as the script reported it worked successfully, I did not receive this alert.

I also downloaded the script some months ago which will be why its not the most up to date version so I'm happy to wait until someone else confirms with the newest version of the scr

[2022-11-24 07:22] Angel0ffDeath commented on #37
@KillaOfDawn Ok. Now I understand. So the script reports everything is ok, but doesnt confirms the host
@AHIOS Yes try the latest script with debug level 2 and post the log with all debug pictures

[2022-11-24 09:56] AHIOS commented on #37
I'm struggling trying to run the script on my M1 Mac Ventura: here the logs.
sh setup.sh
No-IP Auto Renewal Script Setup.
1) Install/Repair Script	    3) Uninstall Script
2) Update noip.com account details  4) Exit setup.sh
Select an option: 2
Enter your No-IP Account details...
Username: *********
Password:
sed: 1: "/usr/local/bin/noip-ren ...": extra characters at the end of l command

Anyway i

[2022-11-24 19:11] Angel0ffDeath commented on #37
@AHIOS Sorry, Im not familiar with M1 Mac Ventura.
For RPi first edition - please specify which linux distro you are running. You need Python 3.6 at least to run the script. To run the script on Python 3.5 - read the other issue, I opened.
For more support, please post the full output from setup.sh and/or python script.

[2022-11-27 18:20] AHIOS commented on #37
Hi @Angel0ffDeath ,
I tried installing the latest version of python and selenium on my raspi, and tried writing a hello world script but it doesn't work (the browser seems to close before I can do anything).
So I tried writing a js with apple shortcuts, and I will try to get phantom js or something similar working on my raspi.
Anyway if it helps here is how I retrieve and simulate the interaction

[2022-11-29 10:28] neothematrix commented on #37
ciao all,
just FYI, one of my domain was renewed without any issue yesterday by the script, no captcha or anything, the script run as usual and renewed it.
Keep in mind that if you do many login/tests your account will be banned temporarily or sometimes additional captcha are requested, this could be the explanation of the issues you're experiencing?
@Angel0ffDeath have you been able to check if y

[2022-11-30 17:35] Angel0ffDeath commented on #37
@neothematrix I will be able to test the script this Saturday (Dec 3rd). Will report the result.